<nav class="navbar navbar-expand-lg navbar-dark bg-danger border-bottom shadow-sm mb-3">
    <div class="container">
        <a class="navbar-brand" href="/"><strong>AstroCommerce</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a href="/" class="nav-link text-white">Principal</a>
                </li>
                <li class="nav-item">
                    <a href="/Sobre-nos" class="nav-link text-white">Sobre Nós</a>
                </li>
            </ul>


            <div class="align-self-end">
                <ul class="navbar-nav">
                    {{#if user}}
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white">Usuario: <Strong>{{user.T_Nome}}</Strong></a>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a href="/Usuario" class="nav-link text-white">Cadrastrar-se</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login" class="nav-link text-white">Entrar</a>
                    </li>
                    {{/if}}
                  
                    <li class="nav-item">
                        <a href="/Produto" class="nav-link text-white">Produtos</a>
                    </li>
                    
                    {{#if user}}
                    
                 
                    <li class="nav-item" title="Perfil">
                        <div class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown"
                                role="button">
                                <i class="bi bi-person-circle" style="font-size:24px; line-height:24px;"></i>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="/Usuario/Minha_Conta" class="dropdown-item">Minha Conta</a></li>
                                <li><a href="/Login/TerminarSessao" class="dropdown-item">Terminar Sessão</a></li>
                            </ul>

                        </div>
                    </li>

                    <li class="nav-item">
                        <span class="badge rounded-pill bg-light text-danger position-absolute ms-3 ms-md-4  mt-0"
                            title="messagem">
                            <small>4</small>
                        </span>
                        <a href="#" class="nav-link text-white">
                            <i class="bi bi-chat" style="font-size: 24px; line-height: 24px;"></i>
                        </a>
                    </li>

                    {{else}}


                    {{/if}}
                </ul>
            </div>
        </div>
    </div>

</nav>