
    <main class="flex-fill">
        <div class="container">
      <div class="row g-3">
        <div class="col-12 col-sm-6">
            <img src="/imgs/{{Produto.T_Imagem}}" alt="" class="img-thumbnail">
            <br class="clearfix">
            </div>
            <div class="col-12 col-sm-6">
                <h1>{{Produto.T_Nome_Produto}}</h1>
                <p>
                  {{Produto.T_Descricao_Produto}}
                </p>
                
                <p>
                    <button class="btn btn-lg btn-danger mb0-3 mb-xl-0 ">Fale com o fornencedor</button>
                </p>
            </div>
            <div class="col-12 col-sm-6">
            <div class="row my-3 gx-3">
                <h2 class="text-break">Produtos relacionados</h2>
                <div class="col-3">
                    <a href="/">
                    <img src="/imgs/03.jpeg" alt="" class="img-thumbnail">
                    </a>
                </div>
                <div class="col-3">
                    <img src="/imgs/01.jpeg" alt="" class="img-thumbnail">
                </div>
                <div class="col-3">
                    <img src="/imgs/07.jpeg" alt="" class="img-thumbnail">
                </div>
                <div class="col-3">
                    <img src="/imgs/08.jpeg" alt="" class="img-thumbnail">
                </div>
            </div>
        </div>
      </div>
    </div>
    </main>